<p-dialog
    [visible]="true"
    appendTo="body"
    [modal]="true"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '40vw' }"
    [header]="titulo"
    [draggable]="false"
    [resizable]="false"
>
    <div
        class="flex flex-wrap border-top-1 surface-border pt-4 justify-content-center"
    >
        <div *ngIf="tarea !== undefined; else elseBlock">
            <form [formGroup]="tareaInfo">
                <input
                    type="text"
                    class="text-center appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-black-alpha-10 text-black-alpha-60"
                    placeholder="Nombre"
                    style="border-radius: 30px"
                    formControlName="nombre"
                />

                <textarea
                    rows="5"
                    cols="20"
                    pInputTextarea
                    class="text-center appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-black-alpha-10 text-black-alpha-60"
                    placeholder="Descripcion"
                    style="border-radius: 30px"
                    formControlName="descripcion"
                ></textarea>
            </form>
            <div class="field col-12 md:col-4">
                <p-calendar
                    [(ngModel)]="fechas"
                    selectionMode="range"
                    [readonlyInput]="true"
                    inputId="range"
                    dateFormat="dd/mm/yy"
                    class="text-center appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-black-alpha-10 text-black-alpha-60"
                    style="border-radius: 30px"
                >
                </p-calendar>
            </div>
        </div>

        <ng-template #elseBlock>
            <form [formGroup]="editar">
                <input
                    type="text"
                    class="text-center appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-black-alpha-10 text-black-alpha-60"
                    [placeholder]="nombre"
                    style="border-radius: 30px"
                    formControlName="nombre"
                />
            </form>
        </ng-template>
    </div>

    <ng-template pTemplate="footer">
        <div class="border-top-1 surface-border pt-3">
            <button
                pButton
                pRipple
                icon="pi pi-times"
                label="Cancelar"
                (click)="cerrar({ estado: false })"
                class="p-button-text"
            ></button>
            <button
                pButton
                pRipple
                icon="pi pi-check"
                (click)="guardar({ estado: true })"
                label="Guardar"
            ></button>
        </div>
    </ng-template>
</p-dialog>
